<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopelia.android.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Shopelia Android SDK Tests"
        android:targetPackage="com.shopelia.android.test" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="android.test.runner" />
<activity
            android:name="com.shopelia.android.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Shopelia.FloatingFrame"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.shopelia.android.PrepareOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.shopelia.android.AddAddressActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.shopelia.android.AddPaymentCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.shopelia.android.PincodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.shopelia.android.ProcessOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.shopelia.android.CloseCheckoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.shopelia.android.RecoverPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia" />
        <activity
            android:name="com.shopelia.android.RecoverPincodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia" />
        <activity
            android:name="com.shopelia.android.ResourceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.Shopelia" />

        <service
            android:name="com.shopelia.android.accounts.ShopeliaAccountAuthentificationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/shopelia_authenticator" />
        </service>

        <!-- Activities responsible for gathering payment info -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>